:root{
    --dark: #2a607c;
    --light: #33B8E8;
}
body{
    margin: 0%;
    padding: 0%;

}

#about-me, #work, #contact{
    display: grid;
    grid-template-columns: 1fr  4fr;
    
}
#work{
    grid-template-columns: 1fr 4fr;
}
#contact ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--dark);
}
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height:40px;
    display: flex;
    flex-direction: row;
    background-color: var(--light);
    color: var(--dark);
}
header h1 {    
    font-size: 36px;
    position: relative;
    display: inline;
    left: -20px;
    background-color: var(--dark);
    color: var(--light);
    padding-left: 50px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    
}
header {
    display: flex;
    flex-direction: row;
}
nav{
    width: 100%;
    display: inline;
}
nav ul{
    padding:0;
    margin: 0;
    justify-content: end;
 
}

header nav ul li {
   display: inline;
   position: relative;
    margin-left: 25px;
   top: -20px;
    font-size: 20px;
}


#subtitle{
    height: 150px;
    width: 100%;
    background-color: var(--dark);
    display: flex;
    flex-direction: row;
   justify-content: space-between;
    
   
}

#subtitle span{
    padding: 0px;
    margin:0px;
    align-self: center;
    margin-right: 5%;
    background-color: var(--light);
    color: var(--dark);
    padding: 20px;
}
#subtitle img{padding-left: 5%;
    
    
}

.projects{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    "p1 p1"
    "p2 p3"
    "p4 p5";
    max-width: 80%;
   
}

#p1{
    grid-area: p1;
    overflow: hidden;
}

.p2{
    grid-area: p2;
    overflow: hidden;

}
.p3{
    grid-area: p3;
   overflow: hidden;
}
.p4{
    grid-area: p4;
    overflow: hidden;
}
.p5{
    grid-area: p5;
    overflow: hidden;
}
/* creates the filter, declaration after removes the filter on hover */
.pic1, .pic2, .pic3, .pic4, .pic5{
    max-width:100%;
    overflow: hidden;
    filter: sepia(400%) hue-rotate(150deg) saturate(400%);
}
.pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover, .pic5:hover{
   
    filter:none;
}
/* had to add negative top positioning to remove white space above the image */
.pic1, .pic2, .pic3, .pic4, .pic5{
    margin: 0;
    position: relative;
    top: -27px;
}
/* had to add positioning based off top because the image extends past the div but overflow is hidden. */
.pre{
    z-index: 1;
    display: inline;
    position: relative;
    top: 230px;
    padding: 0px;
    margin-top: 0px;
    background-color: orange;
    font-size: 24px;
    color: var(--dark);
}
.h4fix{
    z-index: 1;
    display: inline;
    position: relative;
    top: 60px;
    padding: 0px;
    margin-top: 0px;
    background-color: orange;
    font-size: 18px;
    color: var(--dark);
}

.projects div{
    height: 100px;
    border: 3px solid black;
    margin: 10px;
    
}
#p1{
    height:300px;
    
}
#about-me h2, #contact h4, #work h2{
    font-size: 36px;
     color: var(--dark);
     margin-left: 90px;
  
 }

#about-me, #contact{
    height: 200px;
    position: relative;
}
#about-me p, .projects, #contact ul{
    margin-left:5%;
}
#about-me h2, #contact h4{
    min-width: 133px;
}

#about-me p{
    max-width: 80%;
    max-height: max-content;
    padding-top: 50px;
    overflow: auto;
    margin-right: 0;
    
}

#about-me p, #contact ul, .projects{
    border-left: 5px solid black;
    padding-left: 20px;
}
#contact ul{
    display:flex;
    justify-content: space-around;
    max-width: 80%;
    
}
#contact ul li{
    position: relative;
    top: 90px;
    justify-content: center;
}
#contact ul li span{
    border-bottom: 3px solid blue;
    text-decoration: none;
    padding-bottom: 5px;
    
}
@media screen and (max-width: 1024px) {
    .pic1, .pic2, .pic3, .pic4, .pic5{
        max-width: fit-content;
        max-height: fit-content;
      
        position: relative;
        bottom: -20px;
    }
    header nav ul{
        display: flex;
        flex-direction: row;
       padding-top: 50px;
       
    }
   
    header{
      background-color:red;
      height:120px
    } 
    #about-me p{
        padding-top: 0px;
    }
    .projects{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "p1 "
        "p2" 
        "p3"
        "p4" 
        "p5";
        max-width: 80%;
       
    }
  }
  @media screen and (max-width: 767px) {
   
    header{
      background-color:white;
      height: 100px;
    } 
    header nav ul{
        display: flex;
        flex-direction: row;
       padding-top: 50px;
    }
    .pic1, .pic2, .pic3, .pic4, .pic5{
        max-width: fit-content;
        max-height: fit-content;
        margin: 0;
        position: relative;
        bottom: 120px;
    }
    #contact ul {
        /* display: grid;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-areas: 
        "c1"
        "c2"
        "c3"
        "c4";
    }
     #c1{grid-area: c1;}
     #c2{grid-area: c2;}
     #c3{grid-area: c3;}
     #c4{grid-area: c4;} */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
  }
  #contact li{
    padding-top: 0px;
    margin-top: 0px;
    
   
  }
  }